.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.hud-holder {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    bottom: 0px;

    width: 100%;

    .mag {
        width: 96px;
        height: 96px;

        background-image: url(/ui/revolver_mag.png);

        margin-bottom: 8px;
    }

    .round-state {
        margin-bottom: 128px;

        color: white;
        font-size: 32px;
        font-family: Georgia;

        text-shadow: 0px 0px 4px 0px white;
    }
}

.crosshair-holder {
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;

    .crosshair {
        width: 16px;
        height: 16px;

        background-image: url(/ui/crosshair.png);
    }
}